[2015-11-10 15:41] deruelle opened #1 "MAP Stub enhancement for MAP SRIforLCS, MAP PSL and MAP SLR operations support."
MAP SRIforLCS, MAP PSL and MAP SLR support in GMLC for 3G location services.

[2015-11-10 15:42] deruelle opened #2 "Diameter support for LTE positioning"
Diameter support for LTE positioning (SLg + SLh interfaces to MME and HSS respectively).

[2015-11-10 15:43] deruelle opened #3 "MLP Support"
Ensure MLP Support is already present

[2015-11-10 15:44] deruelle commented on #3
Potentially use SIP if not as a quicker time to market to interconnect with RestComm

[2015-11-10 15:47] deruelle opened #4 "Add Continuous Integration Job"
Add job to CloudBees mobicents.ci.cloudbees.com/

Ensure Continuous Delivery

Ensure Unit tests are run and reported

[2015-11-12 17:09] ibstelix opened #5 "update to 2.1.0 ss7"
Update to 2.1.0 ss7
Gist for the patch: https://gist.github.com/ibstelix/3f2fc8bf879dd16db1c7

[2015-11-12 17:18] deruelle commented on #5
Can you please attach the git patch and sign the Contributor License Agreement at http://www.telestax.com/open-source-2/#Contribute ?

[2015-11-13 08:46] deruelle commented on #5
The patch doesn't seem to match the commit https://github.com/ibstelix/gmlc/commit/4adcd50330eabe26a3679f5de43394b221d3451f?diff=split, your patch covers all the files of the project for some reason. Can you try to generate a better patch file ?

[2015-11-14 01:12] ibstelix commented on #5
Hi, i re-created the patch : https://gist.github.com/ibstelix/b145526c0cc6e40c98a9

[2015-12-01 16:44] ibstelix opened #6 "Patch for JSS7-2.2.0-SNAPSHOT"
Patch for JSS7-2.2.0-SNAPSHOT
[GMLC-toJSS7-2.2.0-SNAPSHOT.txt](https://github.com/Mobicents/gmlc/files/48776/GMLC-toJSS7-2.2.0-SNAPSHOT.txt)

[2016-01-04 08:20] deruelle commented on #5
It would be better to move to latest version from https://mobicents.ci.cloudbees.com/job/Mobicents-jSS7/ ie 3.0.1316.

[2016-01-26 09:57] nhanth87 opened #8 "Improve code by replacing hard-codes and misplaced references to USSD"
In GMLC code, there're many place that hard coded and confuse function name, we must refactory to easy read.

Example:
convertAddressFieldToSCCPAddress() and getServiceCenterSccpAddress()  --> getMSCAddress, getGMLCAddress()

RequestedInfo requestedInfo = new RequestedInfoImpl(true, true, null, false, null, false, false, false);
--> should clarify which's true, true and false..

BR,
TN

[2016-01-28 17:50] nhanth87 opened #9 "There are many way of getting cell phone location"
Can we implement all the thing in this document:
https://events.ccc.de/congress/2014/Fahrplan/system/attachments/2553/original/31c3-ss7-locate-track-manipulate.pdf

[2016-01-28 17:55] nhanth87 opened #10 "We need to create GMLC test app"
GMLC is important in 4G network and we should create test app to test new GMLC feature

[2016-01-28 18:51] FerUy commented on #10
Indeed. The Geolocation project we're into is counting on it, not only for 4G (LTE) but for improved location within SS7 networks in 3G Radio Access Network (UMTS Terrestrial RAN). It's important to differentiate between the two, as for 4G it must follow Diameter extensions for SLg (GMLC-MME) and SLh (GMLC-HSS), as per 3GPP TS 29.172 annd 3GPP 29.173 respectively, while for 3G it only demands addi

[2016-01-29 08:16] deruelle commented on #6
Merged

[2016-01-29 08:16] #6 closed

[2016-01-29 08:16] deruelle commented on #5
Merged and upgraded to latest version

[2016-01-29 08:16] #5 closed

[2016-01-29 08:17] deruelle commented on #4
https://mobicents.ci.cloudbees.com/job/Restcomm-GMLC/

[2016-01-29 08:17] #4 closed

[2016-01-29 08:17] deruelle commented on #3
Merged to master

[2016-01-29 08:17] #3 closed

[2016-01-29 08:29] deruelle commented on #3
Thanks @angrygreenfrogs, acknowledged at http://www.telestax.com/open-source/acknowledgments/

[2016-01-29 08:29] deruelle commented on #5
Thanks @ibstelix , acknowledged at http://www.telestax.com/open-source/acknowledgments/

[2016-02-17 15:30] nhanth87 opened #11 "Update jboss-beans.xml to lasted restcomm-jss7"
GMLC's jboss-beans.xml still has some class point to old jss7 code

[2016-02-17 15:37] #11 closed

[2016-02-22 06:10] nhanth87 opened #12 "GMLC MLP did not understand dtd file"
MLP required jibx to convert xsd to object. However something missing that it can't find xsd object and refer to dtd (which is not correct)

11:56:12,405 ERROR [STDERR] (SLEE-EventRouterExecutor-3-thread-1) Error parsing document (line 1, col 40)
11:56:12,406 ERROR [STDERR] (SLEE-EventRouterExecutor-3-thread-1) com.ctc.wstx.exc.WstxParsingException: (was java.io.FileNotFoundException) /nhan/data/T

[2016-02-22 19:42] angrygreenfrogs commented on #12
Hi Tran,

Hmmm, that looks like it's actually just complaining about the request
containing invalid XML?

Can you provide more detailed information about exactly what you're trying?
What's your request XML?

There are indeed some relevant XSD files here:
gmlc/core/slee/sbbs/src/main/config

There are referenced by jibx here:
gmlc/core/slee/sbbs/pom.xml

[code]

<includeSchema>mlp_svc_result_310.xs

[2016-02-23 03:07] nhanth87 commented on #12
Hi Andrew,
Nice to meet you here,

The problem happen just by sending a MLP request:
Create a request file demo.txt with content:

[code]

then use curl -X POST http://ip:8080/restcomm and the problem happen
(telestax changed /mobicents to /restcomm due to rebrand)

I have do debugging and the problem is here:
            org.oma.protocols.mlp.svc_init.SvcInit svcInit = (org.oma.protocols.mlp.svc_

[2016-02-23 10:01] angrygreenfrogs commented on #12
Hi Tran,

I'm not sure if that's just an e-mail client paste error or not?

Your request XML should look more like this, does it?

<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE svc_init SYSTEM "MLP_SVC_INIT_310.dtd">
 <svc_init xmlns="MLP_SVC_INIT_310.dtd">
   <hdr>
     <client>
       <id>USERNAME</id>
       <pwd>PASSWORD</pwd>
       <serviceid>SERVICEID</serviceid>
     </client>
   </hdr

[2016-02-23 15:02] nhanth87 commented on #12
Hi Andrew,
I downloaded 12 DTD files from OMA and put it in bin directory and it work.
However, GMLC will read 12 files every request and it went bad in case 1000 request/s, we are burning our hard disk.

I take a note and will comeback asap with this.

Br,
TN

[2016-03-04 10:57] vetss opened #13 "Adding info into response for mcc, mnc, lac as an addition to cellid"
1) In GET HTTP methid we send in response only "cellid=xxx" response. We need to respond also mcc,mnc,lac and may respond in the followinf format:
mcc=aaa,mnc=bbb,lac=ccc,cellid=xxx

Values can be taken from CellGlobalIdOrServiceAreaIdFixedLength:
    int getMCC() throws MAPException;
    int getMNC() throws MAPException;
    int getLac() throws MAPException;
    int getCellIdOrServiceAreaCode() t

[2016-03-04 10:59] deruelle opened #14 "Add User Guide"
Add Documentation and fix README.

[2016-03-04 11:03] deruelle commented on #13
@angrygreenfrogs can you comment on the impact of this issue on MLP ? Would you potentially be willing to help on fixing the MLP part if needed to expose those additional info ?

[2016-03-04 11:36] vetss opened #15 "Processing of MAP errors / rejects"
We need to add of processing of MAP errors / rejects and return proper info for this into HTTP responses.

[2016-03-04 14:57] deruelle commented on #15
We are evaluating which option is best:
1. reply with a custom HTTP Response code
2. Do it like for CAMEL GW
3. Do it like USSD GW

[2016-03-04 15:02] dsendind commented on #15
If I see it from a product experience perspective, I think that providing a map from typical MAP to HTTP such as "Absent Subscriber", "Unknown" or other type could enrich the experience.  I am sure that this will be demanded somehow sooner or later..

[2016-03-04 16:29] nhanth87 commented on #15
Some comment from me:
Most of error code will return in onErrorComponent()
  public void onErrorComponent(ErrorComponent event, ActivityContextInterface aci)
  {
    MAPErrorMessage mapErrorMessage = event.getMAPErrorMessage();
    long error_code = mapErrorMessage.getErrorCode().longValue();

[code]

  }

[2016-03-05 10:47] angrygreenfrogs commented on #13
@deruelle No worries, I'll certainly help if I can.

@vetss Looks to be on the right track, and we'll frankly just have to give it a shot and see if there's any issues.

[MLP_GSM_NET_310.xsd.txt](https://github.com/RestComm/gmlc/files/159820/MLP_GSM_NET_310.xsd.txt)

MLP_GSM_NET_310.DTD defines gsm_net_param, which is indeed present in the pos element of the svc_result

We should be able to genera

[2016-03-05 16:37] vetss commented on #15
Tran, as for your last comment:
- some error messages contains also extra parameters on board
- we need to care along with onErrorComponent() to other error cases (providerd / user aborts, dialog and invoke rejects, dialog and invoke timeouts, etc)

[2016-03-08 16:46] #13 closed

[2016-03-14 21:02] deruelle opened #19 "Create Docker Image"

[2016-03-15 10:43] vetss opened #20 "Provide jboss-beans.xml for a dialogic case"
We need to provide in the release jboss-beans.xml for cases
- dialogic
- m3ua + dialogic

we have now the default case:
- m3ua

we can provide it in may be "resources/META-INF-templates" or in "jboss/server/default/deploy/gmlc/META-INF-templates" folder.

[2016-03-24 12:27] vetss commented on #15
Fixed by:

https://github.com/RestComm/gmlc/commit/e14a3c04765650055b8d7efdb30680d8d28aea2c

[2016-03-24 13:01] vetss opened #21 "Docs: explaining of HTTP message flow format"
We need to explain the format of HTTP part message format. HTTP POST message flow (MLP format) is not yet proper implemented at the server side (it always return fake values), so let's do not add this part into a a manual this step.
GET requests work now and we need do describe at least this part.

[2016-03-24 13:02] vetss commented on #21
GET request template:

`http://<IP>:8080/restcomm?msisdn=59899077937`

GET response examples:

`mcc=250,mnc=1,lac=32000,cellid=221,aol=5,vlrNumber=5555555666`
(success response)
`SubscriberState: SubscriberState [subscriberStateChoice=netDetNotReachable, notReachableReason=notRegistered]`
(returnResultLast with only SubscriberState without LocationInformation)
`Unknown SubscriberInfo received: xxx

[2016-03-24 13:10] vetss commented on #21
POST request template:

[code]

succeeded response:

[code]

error responses - UNKNOWN SUBSCRIBER

[code]

error responses - SYSTEM FAILURE (in other cases)

[code]

[2016-03-24 13:13] #15 closed

[2016-03-24 13:51] vetss commented on #14
The first version of the manual was committed.
We need to revise it and create a clear description what is implemented and describe properly management options and a messageflow templates.

Heir is one of issue:
https://github.com/RestComm/gmlc/issues/21

[2016-03-24 14:06] vetss opened #22 "External interface to lattitude / longitude database"
GMLC now can only obtain LAC / CellId values from GSM network for mobile suscribers.
If we need to get lattitude / longitude valies for a subscriber we need to get somehow lattitude / longitude values for each cell with LAC / CellId.

I suggest to implement for this an external interface that will request such data fom an external database.

The details of the interface API we need still to discus

[2016-03-24 14:10] vetss opened #23 "Automated Performance test CI job for GMLC"
We need to create an automated perf test for testing of GMLC.

[2016-03-24 14:27] nhanth87 commented on #12
Closed by #8e16b48f75437

[2016-03-24 14:27] #12 closed

[2016-03-24 14:53] FerUy commented on #22
On SS7 based mobile core networks, agreed for 2G (GSM), as we only have MAP ATI to retrieve GCI (Global Cell Identification) including CI (Cell Id), LAC (Location Area Code) and other location information parameters like MCC, MNC, age of location info (as we are already achieving with GMLC). So, the only way to provide geographic coordinates in that scenario (with a big accuracy error margin) is t

[2016-04-04 20:38] #14 closed

[2016-04-05 16:11] vetss commented on #15
Extra fix:

https://github.com/RestComm/gmlc/commit/93798c18e64531ae75f45573e250bf2c11d522cd

[2016-04-12 10:39] vetss opened #24 "Switching to Javolution 6.1"
We have some issues in Javolution 5.5.1 - xml part of it does not properly decode "\n" characters inside a String value: (decimal values like are processed well).

Javolution 6.1 is patched for it. But starting from version 6.0 it has different API interface and swithcing to this version needs the major code update. FastMap is replaced to other class(es) and XML part is also changed. We need to sw

[2016-05-02 13:26] FerUy commented on #1
LSM (Location Services Management) operations, i.e. MAP SRIforLCS, MAP PSL and MAP SLR support in GMLC (Lg + Lh interfaces to MSCS or SGSN and HSS respectively) for Location Services support in Circuit-Switched Core Networks were a Stand-Alone SMLC (Serving Mobile Location Centre) is located (mostly 3G Radio Access Networks like UMTS Terrestrial RAN).

As confirmed by @abhayani , locationSvcGatewa

[2016-05-02 17:50] FerUy commented on #10
@nhanth87 @vetss this is the issue I was talking about today in the conference call after checking with @abhayani that locationSvcGatewayContext and locationSvcEnquiryContext Application Context Name operations including MAP SRIforLCS, MAP PSL and MAP SLR (Subscriber Location Report), are already implemented (see attached, MAP Op Codes 83, 85, 86
[MAPMessagesImplemented.xlsx](https://github.com/Re

[2016-05-19 18:14] loayking opened #25 "GMLC responseData DialogTimeout"
When deploying GMLC with Global Title  **0100** with **BCDEvenEncodingScheme** in the Sccp Address, the last digit of the GT will be truncated, and this will lead to DialogTimeout because the initiated GT has been modified
The solution is  configuring  Global Title  **0100** with **BCDOddEncodingScheme** in the Sccp Address

[2016-05-19 20:15] deruelle commented on #25
@loayking can you make a pull request with your change as described in our [Open Source Playbook](https://docs.google.com/document/d/1RZz2nd2ivCK_rg1vKX9ansgNF6NpK_PZl81GxZ2MSnM/edit#heading=h.wm9l5oonx5ox) ?

[2016-05-20 05:43] vetss commented on #25
Hello @loayking,

thanks, good catch.

But your soulution (https://github.com/RestComm/gmlc/pull/26/files) in also wrong. You can find the proper solution for example in https://github.com/RestComm/smscgateway/blob/master/core/smsc-common-library/src/main/java/org/mobicents/smsc/library/MessageUtil.java see getSccpAddress() method. We have to reuse org.mobicents.protocols.ss7.sccp.parameter.Parame

[2016-05-20 08:48] loayking commented on #25
Hi Sergery,
Yes you are right , I use it direct to test the concept , but yes we have to reuse org.mobicents.protocols.ss7.sccp.parameter.ParameterFactory to selects the proper BCDEven/OddEncodingScheme.

[2016-05-27 12:37] deruelle commented on #25
hi @loayking, were you able to make progress ?

[2016-05-27 13:43] loayking commented on #25
hi @deruelle still working on it, need little more time to follow vetss way

[2016-06-01 16:52] vetss commented on #25
In the method "SccpAddress convertAddressFieldToSCCPAddress(String address)"
we need to create SccpAddress not buy code:

GlobalTitle0100 gt = new GlobalTitle0100Impl(address, 0, BCDEvenEncodingScheme.INSTANCE,NumberingPlan.ISDN_TELEPHONY, NatureOfAddress.INTERNATIONAL);
return new SccpAddressImpl(RoutingIndicator.ROUTING_BASED_ON_GLOBAL_TITLE, gt, 0,gmlcPropertiesManagement.getHlrSsn());

but by

[2016-06-03 13:29] vetss commented on #25
Hello @loayking

your update from https://github.com/RestComm/gmlc/pull/27 updates too much code and we can not accept as it is.

I have committed more simple commit:
https://github.com/RestComm/gmlc/commit/177b5751b41f1233476da975f726e7dfd0a4c29d

Please check if your issue was fixed.

Thanks for bug reporting and provided code.

[2016-06-03 19:33] loayking commented on #25
Hi @vetss
Thanks for your kind feedback,
Your update is just like mine, but what I did is take more possibilities to cover all scenarios regarding GlobalTitleIndicator.
I also considered to update GMLC properties file with GlobalTitleIndicator status if this is approved.
In your commit, if the routing is not base on GT the request will not be sent, but if we make it in configuration, it will be mo

[2016-06-06 06:07] vetss commented on #25
Hello @loayking

Firtsly please pay attention that when you are creating your pull request you need to download the last code version (from a master branch) and make your changes as a minimum code change that is needed. Your last pull request contains many format updates and amy be some other changes that are not needed for fixing of this concrete issue. Such "big" update is not possible to be com

[2016-06-17 05:50] Monix opened #28 "GMLC configuration is broken"
I'm not sure what the expected result is or if configuration services are in fact supposed to be here, but this is the current output.

<img width="1007" alt="screen shot 2016-06-17 at 2 21 56 pm" src="https://cloud.githubusercontent.com/assets/852857/16140723/09532d90-3497-11e6-94f2-9ef5655c9550.png">

[2016-06-17 07:28] Monix opened #29 "GMLC throws deploy exceptions when deployed alongside jss7 suite"
jboss-beans.xml file declares duplicate beans to the jss7 installation.

Example:

[code]

There's quite a few others in there that will need to be checked.

[2016-06-17 07:44] Monix opened #30 "Update to use the jss7 release version"

[2016-06-17 07:46] Monix opened #31 "Missing jboss simulator profile"

[2016-06-17 07:47] Monix opened #32 "Add jboss production profile template"

[2016-06-17 11:23] nhanth87 commented on #31
Jboss simulator profile is same with other app. You can check build.xml for more information

[2016-06-22 09:20] nhanth87 commented on #28
some problem with jss7 management console and in investigating, but it will not affect the system

[2016-06-22 15:30] nhanth87 commented on #28
Hi,
this issue related to jss7 management console, not gmlc.
I created ticket for it
https://github.com/RestComm/jss7/issues/136

So I closed this ticket now

Br,
TN

[2016-06-22 15:30] #28 closed

[2016-06-23 01:51] FerUy opened #33 "Update documents for GMLC build 1.0.0"

[2016-06-23 12:29] angrygreenfrogs opened #34 "Re-factor the directory structure and maven build files to more closely match the SMS gateway"
In addition to upgrading JSS7 (https://github.com/RestComm/jss7/issues/61) and other related issues, Fernando indicated that the SMS gateway is the best example of how the project should be structured and built.

To that end, I'm working on a restructured branch with updated pom files that more closely matches the SMS gateway structure.

[2016-06-23 13:58] FerUy commented on #34
Hi Andrew, already started this, take a look to https://github.com/RestComm/gmlc/commit/a75b4f3df65e69e881d5530a971a32731e84551f in first_build branch

[2016-06-23 21:25] FerUy opened #35 "Update of build.xml"

[2016-06-24 13:41] angrygreenfrogs commented on #34
This is now covered in the pull request here: https://github.com/RestComm/gmlc/pull/37

I'm assuming we'll pull all changes into the first_build branch, and Fernando and I can keep working there until the new build is ready

[2016-06-24 13:42] angrygreenfrogs commented on #30
This is covered by PR https://github.com/RestComm/gmlc/pull/37, the various maven and ant build files have been updated to use JSS7 7.0.1383

[2016-06-24 13:44] FerUy commented on #30
Correct, let's close this issue.

[2016-06-24 14:33] angrygreenfrogs opened #38 "Running GMLC w/ the new JSS7 dependencies results in missing version.properties error"
JBoss console reports:

Deployment "MAPSS7Service" is in error due to the following reason(s): **ERROR**, java.lang.Error: Missing version.properties

11:17:15,762 ERROR [AbstractKernelController] (main) Error installing to Start: name=MAPSS7Service state=Create
java.lang.Error: Missing version.properties
        at org.mobicents.applications.gmlc.bootstrap.Version.loadProperties(Version.java:103)

[2016-06-24 14:43] angrygreenfrogs commented on #38
Ah, found it, there was a path mismatch between:

core\bootstrap\src\main\java\org\mobicents\smsc\server\bootstrap
and
core\bootstrap\src\main\java\org\mobicents\smsc\bootstrap

The "server" sub-dir needed to be added for consistency with the config resource location

[2016-06-24 15:00] angrygreenfrogs commented on #38
Fixed here: https://github.com/RestComm/gmlc/pull/37/commits/c4c7694a3ed2c40fcfc4e413e9ec710b122e4d6e

[2016-06-24 15:01] #38 closed

[2016-06-24 17:33] #30 closed

[2016-06-24 17:44] FerUy commented on #35
This issue is now covered by #37

[2016-06-24 17:44] #35 closed

[2016-06-28 03:02] #33 closed

[2016-06-28 03:08] FerUy commented on #29
Fixed by c4c7694a3ed2c40fcfc4e413e9ec710b122e4d6e

[2016-06-28 03:08] #29 closed

[2016-06-28 03:10] #31 closed

[2016-06-28 03:12] FerUy commented on #32
Added in d4b73e8

[2016-06-28 03:12] #32 closed

[2016-06-28 21:24] FerUy opened #40 "Add a development environment setup tutorial (Asciidoc)"

[2016-07-08 06:31] #34 closed

[2016-07-08 06:34] angrygreenfrogs opened #42 "HTTP servlet dependency not being installed with release/build.xml"
The build is missing the equivalent of this resource:

cd ~/RestComm/resources/http-servlet
ant deploy

It's contained inside of "restcomm-slee-2.8.36.73.zip", which we're already downloading, so I think we just need to find a nice way to have it automatically added to the right target in build.xml

[2016-07-08 06:35] angrygreenfrogs commented on #42
@FerUy @vetss Let me know please if you guys have any pointers on the best practice way of doing this, but otherwise I think I can piece it together from similar bits in the build

[2016-07-08 07:45] deruelle commented on #42
@angrygreenfrogs you may want to check the USSD Gateway build has it has the HTTP Servlet RA. Can't recall if it is deployed by default out of the box but I think it is.

[2016-07-08 23:33] angrygreenfrogs opened #43 "Release build failing with "Could not find artifact com.vendor.dialogic:gctapi:jar:6.7.1""
New release/build.xml failure occurring for me that we'll need to sort out.
[code]

[2016-07-11 01:15] angrygreenfrogs commented on #43
This was just a known missing dependency for the release build process.

You have to pre-install the gctapi package. This will be added to the README shortly.

[code]

[2016-07-11 01:24] angrygreenfrogs commented on #42
I followed Jean's advice, and used the same method as the USSD gateway does in its build. I modified it a little bit to handle an error with running the build script twice, but it's working just fine now.

Fixed in this commit https://github.com/RestComm/gmlc/commit/ea541869d99d7ff8fd3a0272fa8d8a8e9ec4c258

[2016-07-11 01:24] #42 closed

[2016-07-11 01:28] angrygreenfrogs opened #44 "MLP request failing due to JiBX error related to org.oma.protocols.mlp.svc_result.SvcResult"
Sending a basic MLP request to the running GMLC is producing an XML binding error from JiBX.

[code]

[code]

[2016-07-11 01:39] angrygreenfrogs opened #45 "Document configuration files needed to run the GMLC"
[code]

The GMLC code-base itself has a file like this here:
/gmlc/core/bootstrap/src/main/config/data

Should that file be copied in by the GMLC release build? Or is it supposed to come from another source?

[2016-07-11 02:08] angrygreenfrogs commented on #43
I generally updated the install instructions, and added this missing dependency as stated above

Commit https://github.com/RestComm/gmlc/commit/de013a5842ebdbbbb26db6721776ccfd01c329f9

[2016-07-11 02:08] #43 closed

[2016-07-11 03:58] angrygreenfrogs opened #46 "GMLC URL is "/mobicents" by default on the server, can we change that?"
For example a test request looks like this:

http://192.168.60.128:8080/mobicents?msisdn=987657102293

Previously in fact I think it was "/restcomm", but something in the latest build seems to have changed this.

Is there a URL naming standard for Restcomm components like this? I was thinking it should perhaps be "/restcomm-gmlc" or "/gmlc".

And does anyone know where this URL is configured from?

[2016-07-11 04:08] angrygreenfrogs commented on #44
I think this is something to do with the recent pom/build changes, and something has happened to the jibx compile binding stage:

[code]

[2016-07-11 06:35] angrygreenfrogs opened #47 "MLP DTD files should not be copied to the server bin directory if we can avoid it"
This is in reference to https://github.com/RestComm/gmlc/issues/12, where a fix was applied to copy in some missing DTD files that the GMLC was looking for.

The error originally occurred during unmarshalling of the incoming MLP XML request, like this:

[code]

The fix was to add the missing DTD files and copy them in to the jboss bin directory like this in build.xml
[code]

This seems like an ine

[2016-07-11 06:54] angrygreenfrogs commented on #47
There's a related issue with external DTD files perhaps attempting to be loaded, which we should avoid for security and efficiency reasons.

I've seen mention of a setting like this:
unmarshaller.setProperty(javax.xml.XMLConstants.ACCESS_EXTERNAL_DTD, false);

[2016-07-11 06:54] angrygreenfrogs commented on #44
Basically I found that there's a problem with the jibx-maven-plugin's "compile-binding" task. It was producing a "Should never be called with null root" error when doing the binding process.

I'm fairly certain at this point that the plugin itself has a bug which is not easily resolved without creating a fork of it and further diagnosing the issue.

The plugin is somewhat unmaintained as the most

[2016-07-11 07:10] angrygreenfrogs opened #48 "Remove the jibx maven plugin"
The full back-story is here: https://github.com/RestComm/gmlc/issues/44

The end result was that I put a work-around in place that uses the maven jibx plugin for the "generate-code" step, but then directly calls a local copy of jibx for the binding process and avoids the plugin due to a weird bug.

Considering the plugin is getting out of date and seems to be unmaintained, I'm leaning towards sayi

[2016-07-11 07:20] angrygreenfrogs commented on #44
Resolved in
https://github.com/RestComm/gmlc/commit/1e7379ee5431987bea029833cba4c096beb08e91

I'm on the fence about this fix, but the system was unusable at present, so I wanted to put a work-around in place. The downside is that I've directly included the JiBX jar files in tools/jibx, which I would have preferred to avoid, but it was the most direct way to resolve the issue.

I added another iss

[2016-07-11 07:21] angrygreenfrogs commented on #48
At present the JiBX jar files are directly included in the GMLC code-base. If we remove the plugin and go with directly using jibx, perhaps we can still find a way to have it be a downloaded dependency rather than including the jars as I have at the moment.

[2016-07-11 16:32] deruelle commented on #46
/restcomm-gmlc sounds good.

I think it's configured in the HTTP Servlet Resource Adaptor configuration file servlet-name, https://github.com/RestComm/jain-slee.http/blob/master/resources/http-servlet/ra/src/main/resources/META-INF/resource-adaptor-jar.xml

[2016-07-12 23:18] #44 closed

[2016-07-12 23:51] angrygreenfrogs commented on #45
I'm going to try to figure out how to do this with a test system we have access to, and write up some notes about what I had to do.

[2016-07-13 03:53] Vanit commented on #46
It appears the reason context path is /mobicents and not /restcomm is that the gmlc build.xml is checking out http-servlet 2.8.5, which is really old. The latest is 2.8.56 and properly references restcomm. I can't see any issues building the GMLC with the latest tag in my testing.

In any case, I'd argue that simply renaming it to /restcomm-gmlc is the wrong solution. The http-servlet is a generic

[2016-07-13 04:46] FerUy commented on #45
Great initiative @angrygreenfrogs, looking forward to see it working :+1:

[2016-07-13 04:58] FerUy commented on #46
@Monix merged #49, great catch.

I vote for /restcomm/gmlc/mlp
(for a later stage we will have SIP also, thus /restcomm/gmlc/sip would be used in that case).

[2016-07-13 05:48] Monix opened #50 "Route requests to protocol specific methods in MobileCoreNetworkInterfaceSbb"
Currently https://github.com/RestComm/gmlc/blob/master/core/slee/services/sbbs/src/main/java/org/mobicents/gmlc/slee/MobileCoreNetworkInterfaceSbb.java responds to all request URIs and handles protocols based on the request type (GET -> rest, POST -> mlp). Ideally there should a different URI per protocol that's mapped to its own method, ie:

- /restcomm/gmlc/rest -> void rest(params)
- /restcomm/

[2016-07-13 05:49] Vanit commented on #46
Agreed! I think we can call this specific issue closed, I've made a new issue to handle the routing component: #50

[2016-07-13 05:53] FerUy commented on #46
Done!

[2016-07-13 05:56] Vanit commented on #50
Assign to me please :)

[2016-07-13 05:58] FerUy commented on #50
All yours ;)

[2016-07-13 12:24] deruelle commented on #45
Similarly to USSD Gateway for HTTP Servlet RA you can reuse some of the USSD structure for GMLC as it should be pretty similar.

[2016-07-18 06:15] JohnTet opened #51 "Issue testing OPEN GMLC simulator"
I was testing the GMLC simulator by following[ this link ](http://documentation.telestax.com/core/gmlc/GMLC_Admin_Guide.html#_gmlc_overview)and doing pull request.

Unfortunately there is a place where it asks to dial *519# to get response from server, but there is no place for that..

![capture](https://cloud.githubusercontent.com/assets/15995036/16906976/962b4a46-4cd8-11e6-8c7e-3342dceb5e00.PNG)

[2016-07-18 06:33] FerUy commented on #51
@JohnTet GMLC is under construction at this moment for its first official release (v1.0.0). For now, please stick with the README instructions [here](https://github.com/RestComm/gmlc).
Stay tuned at Restcomm Google public group or [Restcomm public forum](https://gitter.im/RestComm/Restcomm-discuss) as it will be released soon, in a matter of the next few weeks, with proper updated documentation.

[2016-07-18 06:33] #51 closed

[2016-07-18 06:41] johnnyAnd commented on #51
@FerUy so one cannot test GMLC location testing on localhost ?

[2016-07-18 07:10] FerUy commented on #51
@JohnTet yes you can, please see follow the instructions of README [here](github.com/RestComm/gmlc).

[2016-07-18 07:13] FerUy commented on #1
@jarmex any feedback from your side?
Should I assign anybody else?

[2016-07-18 07:14] FerUy opened #52 "Update GMLC User Guide"
[This ](http://documentation.telestax.com/core/gmlc/GMLC_Admin_Guide.html#_gmlc_overview) document needs to be completely refactored.

[2016-07-18 07:23] JohnTet opened #53 "404 returns on Mobicent on Localhost"
I m trying to check GMLC on localhost by passing it a random MSISDN.

I installed GLMC on my server and localhost.

When I try` localhost:8080/mobicents o`n localhost it returns 404. it works fine on VPS what could be the issue on localhost, the mobicent service is running as well.

![capture](https://cloud.githubusercontent.com/assets/15995036/16908069/2ee92c68-4ce2-11e6-9a7a-5f10dd9f0c2f.PNG)

2

[2016-07-18 07:37] FerUy commented on #53
Hi @JohnTet. That's wrong, you're not adding the msisdn value in the URL. Please go through the README thoroughly and also have in mind that soon that will change as for #50.

Also, for testing you need to run both the server and the jSS7 simulator configured for ATI tests.

[2016-07-18 07:39] johnnyAnd commented on #53
@FerUy  when I add MSISDN i still get the same result, on server when I do this I get **" Invalid MSISDN specified"** which makes sense.

For testing server and jss7 simulator with ATI, is there any tutorial for that ?

[2016-07-18 07:42] johnnyAnd commented on #51
@FerUy that is 404, I have gone through the git instructions though. I have created another issue since this one is closed.

[2016-07-18 08:30] FerUy commented on #53
@JohnTet unfortunately we don't have yet a tutorial for testing with ATI, but we will very soon (and not only ATI, but other MAP procedures for 3G location like SRIforLCS, PSL and SLR).

Also, I'm about to board a long trip back home, will be back on Wednesday. Then I will get back to you in this regard. In the meantime, @angrygreenfrogs and/or @Monix might help you.

Having said all of these, ple

[2016-07-18 09:24] johnnyAnd commented on #53
have a safe trip @FerUy , I will wait for responses from other :)

[2016-07-18 11:16] Vanit commented on #53
Hey @JohnTet, we recently updated the http-servlet dependency, which resulted in the url changing to /restcomm instead of /mobicents.

[2016-07-19 19:00] angrygreenfrogs commented on #45
This issue was raised to resolve some of the configuration errors you see when first running the unconfigured GMLC.

Including:

1) SCTP reporting that "SCTPManagement_sctp.xml" is missing
2) Documenting and explaining GmlcManagement_gmlcproperties.xml, which at this time we have some default values mentioned:

[code]

[2016-07-19 19:32] angrygreenfrogs commented on #40
@FerUy I have a PR that will be helpful on this issue, which I've just created and hope you can review/accept.

I sent the PR to master, but let me know if you want the work flow to be for these to go through gmlc1.0.

[2016-07-20 04:36] johnnyAnd commented on #53
@Monix Yes it works with restcomm, but that should be replicated here https://github.com/RestComm/gmlc/blob/master/README.md as well.

Also what about any tutorial to test GMLC (with location) on localhost ? so when I pass it some dummy location it gives me a response, right now it just gives me empty response which is understandable.

Is the tutorial possible ?

[2016-07-20 05:37] Vanit commented on #53
@JohnTet Thanks for the report on the readme. Please add a new issue for that.

I'm not sure about the dummy feature, but please do open an issue for that as well and we'll see.

[2016-07-20 05:39] johnnyAnd commented on #53
@Monix alright I am adding that,

[2016-07-20 05:40] JohnTet opened #55 "Updating Readme for updated servlet dependency"
#53 Please update

https://github.com/RestComm/gmlc/blob/master/README.md

so that /mobicents should be changed to /restcomm

[2016-07-20 05:42] JohnTet opened #56 "Dummy feature to check location on localhost"
I am configuring OPENGMLC on my localhost , when I do /restomm with an msisdn , it shows empty response which is ok, there needs to be some simulator or dummy msisdn that I can pass to it and it can send me response.

Thanks
#53

[2016-07-20 07:41] angrygreenfrogs commented on #55
Hi, this has already been updated in a PR, please see https://github.com/RestComm/gmlc/pull/54

[2016-07-20 07:44] #55 closed

[2016-07-20 07:58] deruelle commented on #56
@JohnTet do you want to contribute that example ?

[2016-07-20 09:31] johnnyAnd commented on #56
@deruelle  I would love to ofcourse but I am struggling myself to run it on localhost.

[2016-07-20 09:47] angrygreenfrogs commented on #56
@JohnTet Recommend to check out the updated README file here: https://github.com/RestComm/gmlc/blob/issue45/README.md

That may help if you're having any install/run problems, and has details about how to setup a dev environment.

In general also you'll see a little bit of a better immediate test response (even though it'll be an error) if you send a MLP POST request instead of a GET

[2016-07-20 14:02] FerUy commented on #56
@JohnTet I'm back :)

I'm reviewing @angrygreenfrogs PR and will provide further feedback on this hopefully today. Thanks!

[2016-07-20 14:04] FerUy commented on #40
Hi @angrygreenfrogs , it's OK, reviewing it and looks great thus far, will be merged today... so leave it like that :)

[2016-07-21 09:13] angrygreenfrogs opened #58 "Document usage for the SS7 simulator"
Related to https://github.com/RestComm/jss7/issues/100

It'd be nice to include some "Getting Started" user (or developer) level documentation explaining how to install and use the  JSS7 simulator with the GMLC.

I haven't used the simulator before myself, but it looks like it has a bit of a learning curve on it. There's some related docs here:

https://github.com/RestComm/jss7/blob/master/docs/us

[2016-07-21 09:23] angrygreenfrogs commented on #40
@FerUy I'm a little uncertain about where install and developer docs should go? I've been looking at some of the other projects, and there's a mixture of github wiki and also docs located on documentation.telestax.com (I assume this is from the generated asciidocs?)

https://github.com/RestComm/Restcomm-Connect/wiki/Contribute-to-RestComm

http://documentation.telestax.com/connect/

Is there any b

[2016-07-21 09:41] angrygreenfrogs opened #59 "Document the basics of the system and code architecture"
One thing that makes the project hard to enter as a new contributor is a lack of understanding of the underlying system and architecture.

It's a bit onerous when you see the number of dependencies and inter-connecting bits outputting 1000 messages when you start up JBoss and watch the console output.

It'd be great to include a basic explanation of the components involved, links to docs to read u

[2016-07-21 10:09] angrygreenfrogs commented on #58
Note: There's some mention of the simulator and how to start it here:

http://documentation.telestax.com/core/gmlc/GMLC_Admin_Guide.html#_running_the_gateway_simulator

But what we're really missing is a step by step of how to actually use it and do a full test request with the GMLC.

[2016-07-21 11:22] angrygreenfrogs commented on #45
Attached is a package of config files that were taken from a running GMLC instance that gives some examples and ideas.

This includes these files:

Mtp3UserPart_m3ua.xml
SccpStack_management2.xml
SccpStack_sccpresource.xml
SccpStack_sccpresource2.xml
SccpStack_sccprouter.xml
SccpStack_sccprouter2.xml
SCTPManagement_sctp.xml

I'm not clear on the purpose of each of these (or their contents), but lo

[2016-07-21 11:29] FerUy commented on #40
Hi @angrygreenfrogs , your assumption is correct, documents located on http://documentation.telestax.com/ are generated from the Asciidocs.

For developers/open source collaborators, I would say to place docs in Github.

[2016-07-21 11:54] FerUy commented on #58
Thanks @angrygreenfrogs. Agreed.
We are currently working on some improvements for adding 3G location MAP procedures in jSS7 simulator as for https://github.com/RestComm/jss7/issues/100, so I would rather wait for that to be finished to make the tutorial with all use cases...
Would you agree?

[2016-07-21 11:58] FerUy commented on #59
I couldn't agree more @angrygreenfrogs
Thanks for opening this issue and bringing this up.

[2016-07-21 12:06] FerUy commented on #58
Btw, that Admin Guide needs a total refactor. I'm committed to do that.

[2016-07-21 12:16] angrygreenfrogs commented on #58
All sounds good, @FerUy. Yeah, I can see the admin guide was essentially a find/replace from USSD it looks like - a lot of it is still close to the truth, of course. In my spare minutes I'll poke around a bit more with the simulator and write down any relevant notes somewhere (perhaps I'll keep going with putting them in the readme until we pull them out into the full guides).

[2016-07-21 12:19] angrygreenfrogs commented on #56
@JohnTet @FerUy Oh, on this subject, I should say there's already a little bit of test code in the GMLC for this.

It'd be nicer if there was a "dummy" mode configuration variable to turn it on... but in any case you can set this to true in core/slee/services/sbbs/src/main/java/org/mobicents/gmlc/slee/MobileCoreNetworkInterfaceSbb.java

[code]

And it'll return a fake location from POST or GET rat

[2016-07-21 12:21] FerUy commented on #45
Hi @angrygreenfrogs... those config files are extremely needed for SS7/SIGTRAN connection/association establishment with the Core Network (GSM-based or more properly said, UMTS -3G- circuit-switched CN -for GSM only, legacy E1 connections would be needed, SIGTRAN appears in UMTS which is GSM "upgrade" by 3GPP).

Without them, the GMLC becomes useless, as it would be isolated. Important SS7/SIGTRAN

[2016-07-21 12:24] deruelle commented on #45
Let's have a config out of the box that works flawlessly with jss7 simulator to test a single location so it's easier for people to use and test the GMLC and ensure it works correctly out of the box

[2016-07-21 12:24] FerUy commented on #58
Great @angrygreenfrogs ... actually, I've been working on that since yesterday too (along with other tasks). Will come back when finished debugging some stuff there.

[2016-07-21 12:25] deruelle commented on #58
@FerUy do we have an issue in github to track the Admin Guide refactoring ?

[2016-07-21 12:25] FerUy commented on #45
Agreed @deruelle :+1:

[2016-07-21 12:28] FerUy commented on #58
Yes @deruelle : this one https://github.com/RestComm/gmlc/issues/52

[2016-07-21 12:38] deruelle commented on #40
@angrygreenfrogs Let's create a contributors directory under https://github.com/RestComm/gmlc/tree/master/docs and add asciidoc documentation for contributors similarly to how we do it for userguide/adminguide for regular users. Makes sense ?

[2016-07-22 13:14] angrygreenfrogs commented on #45
@FerUy

I'm trying to figure out what's the minimal configuration required to get this working.

I have access to an operator test system, and looking to get the GMLC talking to it.

What I've been provided with is 2 links to MSC(s).

Each link has the following properties:

GMLC GT
Point code
GMSC IP
Port
GMSC Office ID
AS ID

AS Role as GMSC: IPSP Server
Routing Context: None

I can see where so

[2016-07-22 13:24] FerUy commented on #45
Sure @angrygreenfrogs
Please see the document attached and come back to me with all of those parameters values (if it's none, leave it blank or just put None). As you are using SIGTRAN, don't pay attention to the last section (conf for connection over legacy E1).
Then we'll have to do the configuration through the jSS7 CLI, I can help you with that.
[SS7_Configs.xlsx](https://github.com/RestComm/g

[2016-07-22 13:39] angrygreenfrogs commented on #45
Great, thanks @FerUy .

Check out the attached. I've tried to determine what goes where, but some of the naming for the fields they provided makes it a bit tricky, would like to hear what you think.

It'd be great to learn how to do this myself as well if you can point me towards the CLI tool you're talking about?

[SS7_Configs_MB.xlsx](https://github.com/RestComm/gmlc/files/378276/SS7_Configs_MB.

[2016-07-22 14:26] deruelle commented on #45
Tied to Issue #52

[2016-07-22 14:30] deruelle commented on #25
@vetss shall we add a test case for you commit ?

[2016-07-22 14:30] deruelle commented on #23
Integrate it with PerfCorder

[2016-07-22 14:32] deruelle commented on #21
Part of Issue #52

[2016-07-22 15:08] FerUy commented on #45
Sorry @angrygreenfrogs for the little delay (I was in a call).
I believe the best action is sending the fill-in-the-blanks file I sent you in the first place to the operator, for core network staff review. We need all of those parameters well defined.
The peer side is an STP (Signaling Transfer Point), which performs GTT (Global Title Translation).
Once you got that, I can show you how to use the

[2016-07-24 16:33] vetss commented on #25
Hi @deruelle,

such unit test is not a trivial task. I'd like to skip this update unit test if as I understand a fix fit to @loayking demands (please confirm if this, @loayking).

[2016-07-24 20:37] loayking commented on #25
Hi @vetss

actually i did it my way, but yours should do the same.

[2016-07-25 05:20] johnnyAnd commented on #53
@Monix It is still same on the server. When I try to hit localhost:8080/restcomm, it throws an error ,

localhost:8080/restcomm?msisdn=10 behaves the same way.

![capture](https://cloud.githubusercontent.com/assets/15995036/17091167/6a03d23e-5251-11e6-813f-bec1c2f316eb.PNG)

[2016-07-25 05:23] johnnyAnd commented on #56
@angrygreenfrogs and then I have to compile it from scratch ? creating snapshot etc. just asking ..

[2016-07-25 06:53] Vanit commented on #53
Hey @JohnTet, can you please upload a copy of your /jboss-5.1.0.GA/server/default/log/server.log

[2016-07-25 08:14] johnnyAnd commented on #53
@Monix PFA

[code]

[2016-07-25 12:54] FerUy commented on #53
Hi @JohnTet can you please try with URL localhost:8080/restcomm?msisdn=7462379 ? (any number will do)

[2016-07-25 14:17] FerUy commented on #53
Anyway, that won't fix it either @JohnTet and actually we are working on it. Will revert asap when solved.

[2016-07-26 04:32] johnnyAnd commented on #53
ok I am here for any help or assistance. @FerUy

[2016-07-26 17:12] FerUy commented on #53
@JohnTet, just solved the problem... will provide instructions in the next minutes. Stay tuned.

[2016-07-26 18:44] FerUy commented on #53
@JohnTet, please use the following instructions and tell me if it's solved for you too (always using latest release):

0.1) In $JBOSS_HOME/server/simulator/data/SccpStack_sccprouter2.xml set the configuration to the following:
`<?xml version="1.0" encoding="UTF-8" ?>
<rule>
    <id value="1"/>
    <value ruleType="Solitary" loadSharingAlgo="Undefined" originatingType="LocalOriginated" mask="K" pad

[2016-07-26 18:44] #53 closed

[2016-07-26 18:51] FerUy commented on #58
@angrygreenfrogs tell me if this helps. Follow this steps in order to run the simulation. First you'll need to fix the default configuration (0.1 and 0.2):

0.1) In $JBOSS_HOME/server/simulator/data/SccpStack_sccprouter2.xml set the configuration to the following:
`<?xml version="1.0" encoding="UTF-8" ?>
<rule>
    <id value="1"/>
    <value ruleType="Solitary" loadSharingAlgo="Undefined" originat

[2016-07-26 22:38] FerUy commented on #45
@angrygreenfrogs... reviewing open issues, I see this one has been followed via email too, and has two sides: one for the configuration of the MNO you are dealing with, the other for testing using SS7 simulator. For the first case, I already provided you via email the configuration commands. As it involves a configuration setup with a customer, let's continue that via that private channel.

Regard

[2016-07-26 22:38] #45 closed

[2016-07-26 22:40] FerUy commented on #50
@Monix any update from your side on this?

[2016-07-26 22:56] Vanit commented on #50
@FerUy I've been swamped at work for the last week so no progress, but I'm about to free up so should have something either today or tomorrow :)

[2016-07-26 22:58] FerUy commented on #50
Great!
Thanks for the quick update @Monix :+1:

[2016-07-26 23:24] FerUy commented on #45
And btw, the config out of the box that works flawlessly with jss7 simulator is fixed by 3ae49d3 and 65cb9a1.

[2016-07-27 10:50] johnnyAnd commented on #53
@FerUy I am going to test this after doing ant again. on it.

[2016-07-28 02:33] Vanit commented on #53
@JohnTet Thanks for your persistence here, I can confirm the 503 you encountered is a legitimate bug caused by conflicting dependencies in the Jboss boot sequence. The old version of the servlet is being loaded via org.mobicents.slee.container.management.jmx.DeploymentMBeanImpl. Will be resolving this via reopening #46, so please continue any discussion there.

[2016-07-28 02:34] Vanit commented on #46
Can you reopen this @FerUy?

There are conflicting dependencies causing the old version of the servlet still to be loaded instead of the new version.

[2016-07-28 02:38] FerUy commented on #46
Done @Monix

[2016-07-28 07:52] Vanit commented on #46
I've found the culprit. The clean target has been left out of the release target dependencies, so any artifacts left from old builds are merged into every subsequent build. In this case it meant that the old and new http-servlets were deployed together if the user simply did a git pull and rebuilt the gmlc since this issue was fixed.

Looking at the git history, it looks it's been missing since 3d

[2016-07-28 13:43] FerUy commented on #46
Great @Monix, that will help reducing the huge size of the build we are having right now. Looking forward for your next commit for this fix.

[2016-07-28 18:53] FerUy opened #60 "SS7-CLI is missing"

[2016-07-28 19:42] FerUy commented on #60
This issue was created by mistake, as it's already there and working perfectly.

[2016-07-28 19:42] #60 closed

[2016-07-29 06:39] Vanit commented on #56
Maybe an easy solution would be for there to be a dummy mobile number that will always return a successful fake location?

[2016-07-29 10:16] deruelle commented on #56
@Monix that's an option. We need to make sure it's a non valid mobile number or enable that only when fake is enabled through configuration

[2016-07-29 11:01] Vanit commented on #56
@deruelle Maybe a fictional 555 number?

[2016-07-29 11:20] deruelle commented on #56
yeah sounds good to me

[2016-07-29 23:24] #58 closed

[2016-07-29 23:39] FerUy commented on #46
@Monix, I needed to revert it. Although it looked OK to me, the build in Cloudbees failed after merging. Once reverted, it's OK again. Need to investigate further.

[2016-07-30 00:42] Vanit commented on #46
@FerUy That's a shame! Is there a failure log for that?

[2016-07-30 00:44] FerUy commented on #46
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 06:11 min
[INFO] Finished at: 2016-07-29T15:32:16+01:00
[INFO] Final Memory: 333M/995M
[INFO] ------------------------------------------------------------------------
- ant -f release/build.xml -Drest

[2016-07-30 00:48] Vanit commented on #46
Ah, I know the problem! failureonerror for the checkout delete should be false.

[2016-07-30 00:50] FerUy commented on #46
I thought about setting that too actually, but preferred to investigate further.

[2016-07-30 01:37] FerUy commented on #46
@Monix, I ran out of options after a while, so I gave it a try. It worked ;)
Thanks :+1:

[2016-08-01 01:06] #50 closed

[2016-08-01 01:16] Vanit commented on #46
@FerUy Awesome! Can you close this issue?

[2016-08-01 01:21] FerUy commented on #50
Hi @Monix, I will do it soon after some testing with the latest build.

[2016-08-01 01:31] FerUy commented on #46
Hi @Monix, I will do it soon after some testing with the latest build.

[2016-08-01 01:46] FerUy commented on #46
@Monix ... I was just doing some testing when you asked to close the issue. Tests went perfect, great job, thanks. Closed ;)

[2016-08-01 01:46] #46 closed

[2016-08-01 01:47] Vanit commented on #46
@FerUy Excellent!

[2016-08-01 01:50] FerUy commented on #52
http://documentation.telestax.com/core/gmlc/GMLC_Admin_Guide.html looking more appropriate now. Much more work pending, but at least now it looks like a GMLC we are talking about.

[2016-08-01 01:52] FerUy opened #64 "Update README according to latest changes"

[2016-08-01 01:55] FerUy commented on #64
According to closed issue #50

[2016-08-01 04:43] Vanit commented on #22
I'm interested in seeing some progress on this so I've started researching what an RA for this might look like.

Is there a good reference for a preferred "restcomm style" JCA RA? Is this one https://github.com/RestComm/jain-slee.javaee?

[2016-08-01 07:27] deruelle commented on #52
A number of images are missing from the document in Section 3.3. Please make sure you add them with git add or committed them.

[2016-08-01 13:45] FerUy commented on #52
Absolutely @deruelle, as stated, there's a lot pending. As agreed on Friday, I'll resume work on this after taking care of the other remaining issues (unless you propose the opposite, of course).

[2016-08-01 13:57] deruelle commented on #52
the plan sounds good to me, but I think we can just add the images so it doesn't look broken on the documentation website.

[2016-08-01 13:59] FerUy commented on #52
OK @deruelle, I'll take some time today to fix that.

[2016-08-01 17:43] #56 closed

[2016-08-01 17:49] FerUy commented on #9
This is a duplicate of what's covered in #1 and #2. Good research, thanks for the doc @nhanth87

[2016-08-01 17:49] #9 closed

[2016-08-01 18:03] FerUy commented on #8
True about confusing pieces of code, there're a lot of references to USSD, for example in GmlcManagement.java:

[code]

[2016-08-01 18:18] #64 closed

[2016-08-01 18:30] angrygreenfrogs commented on #22
@Monix I'd like to suggest we start by creating an interface to MLS (https://location.services.mozilla.com/api)

Their API is open, easy to use, and has a great stumbler mobile app for assisting users with adding local cells to the database.

@FerUy I'm thinking to assign this one over to @Monix ?

[2016-08-01 18:31] angrygreenfrogs commented on #48
@FerUy I'm going to take this one over and just get it resolved shortly.

[2016-08-01 18:32] angrygreenfrogs commented on #48
The decision is to remove the maven plugin as per comments above.

[2016-08-01 18:35] angrygreenfrogs commented on #10
@FerUy I'm not totally clear about this issue - is this covered by the jss7 simulator, unit tests, and documentation, and so isn't really an issue by itself?

[2016-08-01 18:51] FerUy commented on #22
OK @angrygreenfrogs.

Just to be clear, this issue will only involve CGI - lat/long conversion, right?

I just don´t want to mix up concerns when we have location estimate and CGI data on 3G and LTE location services (in best case scenario, we'll both have lat/long of the target mobile equipment and CGI information -Cell ID, LAC, MCC, MNC- of the base station or (e)nodeB which is providing radio s

[2016-08-01 18:53] FerUy commented on #48
Agreed in the decision taken, was about to propose that too.
Thanks @angrygreenfrogs

[2016-08-01 19:03] FerUy commented on #10
@angrygreenfrogs, yeah, this issue's comments are misleading, my bad mainly as Tran opened it for LTE only.
It's in part covered by jSS7 simulator (and ongoing work there as noted above, main reason why I don't close it as it is a reference for that), but also there will be another test application to be developed for Diameter as for #2 (in which I'm already working).

[2016-08-01 21:02] #48 closed

[2016-08-01 22:40] Vanit commented on #22
All good, Firefox MLS sounds fine. Frankly though, choosing and implementing the EIS is the easy part.

Am I right in assuming we should be using the JCA Resource Adapter architecture for this?

[2016-08-01 22:46] FerUy commented on #22
Hi @Monix. On using the JCA Resource Adapter architecture for this, I would frankly like @deruelle and @vetss opinion.

Just in case, on the rest we are on the same page, right?

[2016-08-01 22:51] Vanit commented on #22
@FerUy You might need to clarify that sorry! Are you talking about keeping the cell x/y from this integration separate from any other location that may be returned by the other protocols?

[2016-08-02 00:42] FerUy commented on #22
Hi @Monix, what I am saying is that either in 3G or LTE location procedures, the response may contain a location estimate in latitude/longitude which is the calculation of the current position of the user equipment made by several antennas. Along with that location information in geographic coordinates, the GCI (Cell Id, LAC, MCC, MNC) may also come in the response. So, you will have the informati

[2016-08-02 00:46] Vanit commented on #22
@FerUy Yep, totally on the same page here. CGI -> lon/lat is the scope of this task and the proposed RA.

[2016-08-02 01:05] FerUy commented on #22
Great @Monix!

Again, on using the JCA Resource Adapter architecture for this, I would like @deruelle and @vetss opinion.

[2016-08-02 07:56] Monix opened #66 "MobileCoreNetworkInterfaceSbb vulnerable to race conditions"
I was investigating how MobileCoreNetworkInterfaceSbb functioned and assumed it was supposed to be an instance per request as it's using request contextual local variables. Through testing I was able to confirm that the same instance is servicing all requests and each request is overriding the local variables of the previous request, resulting in a race condition if the first request has not yet f

[2016-08-02 12:34] angrygreenfrogs commented on #66
@Monix Good job finding this one. I do remember when I was first working on the MLP code that one of the others in the group pointed out a problem like this in terms of not being able to rely on local variables (between the point where you make a call out and are awaiting a callback), but I can't remember any solution being suggested.

I'd say we need to first ask what the best practice is, how do

[2016-08-02 12:58] FerUy commented on #66
@Monix @angrygreenfrogs, I was investigating the same class for issue #25, but your findings are more crucial to me, definitely. As @vetss being the main developer of such class, I believe we need his insights on this issue which I tagged as a bug.

[2016-08-02 13:01] FerUy commented on #52
No missing images now @deruelle (moreover, that section was still talking about USSD Gw testing, not GMLC). I still can not close this issue though, more work pending, but other issues are more critical at this time.

[2016-08-02 16:02] angrygreenfrogs commented on #1
@FerUy Related to this - can you help us with understanding how 2g/3g/4g location tie together with the MAP ATI operation?

So we have access to our test MNO at the moment where we're able to send MAP ATI requests into their system (to their MSC I believe)

This is what we've been discussing as being a "2g location", right? So is it expected this call/process still works for a device that is actua

[2016-08-02 16:23] FerUy commented on #1
Yes, MAP ATI can be considered as 2G location (defined from CAMEL phase II -please don't confuse, CAMEL includes not only CAP, but also MAP operations like ATI-). You're not sending the request to the MSC but the HLR/HSS (HSS is HLR evolution from 3G onwards).

It doesn't matter if the device is connected to 3G/4G, MAP ATI would still work as the HLR or HSS will always have the location informatio

[2016-08-02 16:27] vetss commented on #66
@Monix do you use the same TCP connections for both HTTP requests (when sending of a next request before you received a response for a new request) ?

[2016-08-02 16:34] angrygreenfrogs commented on #1
Thank you @FerUy as usual a great response, I'm saving that one. Yep, that answers absolutely everything.

[2016-08-02 22:44] Vanit commented on #66
@vetss Good question! I was using Chrome for testing, so there's a possibility it's reusing the TCP connection. However, I ran the test via multiple browsers at the same time and I still found the same result.

[2016-08-03 02:20] Vanit commented on #66
Had some fun learning about SLEE architecture to get to the bottom of this. So I need to correct my original post - most of the race conditions I was worried about aren't actually race conditions (they do have code smell, but I'll get to that)

Particularly the part I wrote about the first request being able to respond to a second interrupting request isn't true as the event context is correctly p

[2016-08-03 06:42] vetss commented on #66
@Monix

I agree with your update in https://github.com/RestComm/gmlc/pull/67

[2016-08-03 13:47] #66 closed

[2016-08-03 23:07] Vanit commented on #22
@FerUy @vetss @deruelle Has there been any discussion about this yet?

[2016-08-04 02:13] FerUy commented on #22
Hi @Monix... I guess you are referring to the JCA RA, right?

[2016-08-04 02:55] Vanit commented on #22
@FerUy Yep!

[2016-08-04 14:49] FerUy commented on #22
OK... @vetss do you agree in using JCA Resource Adapter architecture for this?

[2016-08-05 05:51] vetss commented on #22
Hello @FerUy @Monix

when we are thinking how to implement it we need to undestand sources from which we can obtain data.
It may be http://opencellid.org/ for example or something like this or a local database of an operator. So we need may be to think that it may be different source types and think that we will be able to add easily another source type for this (the architecture of solution must

[2016-08-05 06:16] Vanit commented on #22
@vetss Exactly my thinking regarding the mixed types of sources. I was hoping we could get away with a generic RA that wouldn't have to care about the actual implementation of the adapter. Is it possible to use a JDBC RA for a local db and an external API (which are the 2 main usecases I think)?

[2016-08-05 10:02] vetss commented on #22
@Monix

I think it is achievable. Which kind of "external API" are you going to use ?

[2016-08-05 10:42] Vanit commented on #22
@vetss I think we were considering ~~Firefox~~ Mozilla MLS to begin with.

Edit: I need to stop saying Firefox

[2016-08-05 12:11] angrygreenfrogs commented on #22
@vetss MLS is a RESTful API (HTTPS call out w/ a JSON return). I think Lucas is suggesting we could create a cell-id RA that takes in cell information and returns a lat/lon, where internally it could be retrieving that data from a local DB or from the external API. Does that sound like a good approach to you?

Note: Direct to OpenCellID is a fine choice too, but MLS is even better really since it

[2016-08-05 13:45] FerUy commented on #8
Resolved by PR #68

[2016-08-05 13:45] #8 closed

[2016-08-05 13:57] FerUy commented on #22
I like it... @angrygreenfrogs @Monix how much time do you foresee it will take to implement it?

[2016-08-05 15:05] angrygreenfrogs commented on #22
Hard to say @FerUy, we can only work on the project in our spare time and I'm about to assign a pile of other work on to @Monix =). All of that being an excuse to say: roughly some time this month I'm sure.

[2016-08-05 15:09] FerUy commented on #22
OK @angrygreenfrogs... Planned for Milestone 2.0.0, just asking for planning sake.
Looking forward to seeing that beauty :)

[2016-08-05 16:26] Vanit commented on #22
Thanks for clarifying for me @angrygreenfrogs :)

[2016-08-05 18:20] FerUy opened #69 "MLP requests failing after merging PR #67"
GET requests works fine (e.g. http://127.0.0.1:8080/restcomm/gmlc/rest?msisdn=577438634) but when trying MLP request intended for success (not dummy number), we are getting this error:

$ curl -X POST -d @mlpreq.txt http://192.168.26.128:8380/restcomm/gmlc/mlp
`<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE svc_result SYSTEM "MLP_SVC_RESULT_310.DTD">
<svc_result xmlns="MLP_SVC_RESULT_310.dtd" ve

[2016-08-05 18:26] FerUy commented on #69
@Monix, @angrygreenfrogs, just created this issue to solve what I just mentioned happened after merging PR #67 . Again, please sync with master before investigating, as some classes have been updated in today's merge of PR #68, like MobileCoreNetworkInterfaceSbb.java (where I believe the problem is generated).

[2016-08-07 23:39] Vanit commented on #69
@FerUy Will look into this today!

[2016-08-07 23:41] FerUy commented on #69
Great, thanks @Monix !

[2016-08-08 00:02] Vanit commented on #69
@FerUy I've merged the upstream changes and I've been unable to reproduce the issue in my existing build and a new build.

It could be that I'm being blocked by a separate issue - whenever I've made non-fake requests I get a 501 unsupported error from somewhere in the SCCP stack, and have to read the DialogTimeout failure from my jboss output. I assumed this behaviour was normal since I don't have

[2016-08-08 02:32] FerUy commented on #69
Correct @Monix, in **simulator** mode.

[2016-08-09 03:44] Vanit commented on #69
@FerUy Fixed the issue, the CGIResponse defaults weren't XML friendly. Now MLP OK will return -1 for the location fields instead of failing.

[2016-08-09 15:01] #69 closed

[2016-08-09 17:19] FerUy commented on #69
Confirmed @Monix, well done, all tests are now working properly. Sorry for my absence since opening this issue, but been overwhelmed with other support/training content activities. Anyway, I was sure you'd solve it easily as you did ;)
Thanks!

[2016-08-09 23:13] Vanit commented on #69
@FerUy No problem! Was my bad for not testing with the simulator :)

[2016-08-12 00:15] jaimecasero opened #71 "Replace jixb exec usage with proper jixb maven plugin"
Current solutions requires jixb jars to be included in code, and different profiles for linux/windows when setting paths.By using jixb plugin all of these would be unnecessary.

In addition, on systems with different java version the build may fail, since the exec maven plugin is not using the "java" goal, a java version for compiling may be using, while schema compiling uses system wide java vers

[2016-08-12 00:15] jaimecasero commented on #71
[code]

[2016-08-12 11:07] jaimecasero opened #72 "HTTP status code is not being populated correctly"
The SBB logic is not taking care of setting HTTPResponse status code. This leads to use the container default which was recently changed to 501...

Both for Rest and nonRest interfaces populating status code is key to deliver good API.

[2016-08-12 11:22] angrygreenfrogs commented on #71
This is related to https://github.com/RestComm/gmlc/issues/48

The problem is that the official maven plugin is buggy and was causing an unknown failure in the "compile-binding" task. It was producing a "Should never be called with null root" error when doing the binding process, and we couldn't find a way of making it work without re-writing part of the plugin itself.

There's also been some repo

[2016-08-12 11:28] jaimecasero commented on #71
The previous tag worked like a charm first time i tried...
--- jibx-maven-plugin:1.2.6:schema-codegen (JiBX Generate Sources) @ sbbs ---
Generating Java sources in target/generated-sources from schemas available in src/main/config...
Loaded and validated 2 specified schema(s)
Generated 106 top-level classes (plus 21 inner classes) in package org.oma.protocols.mlp.svc_init
Generated 110 top-level c

[2016-08-12 11:34] jaimecasero commented on #44
@angrygreenfrogs  I noticed you were not matching any binding file. But my conf matches 1...

--- jibx-maven-plugin:1.2.6:bind (JiBX Compile Bindings) @ sbbs ---
Running JiBX binding compiler (single-module mode) on 1 binding file(s)

Did you have a copy of the plugin conf you were using?

[2016-08-12 11:37] jaimecasero commented on #71
@angrygreenfrogs
output for schema compilation:
--- jibx-maven-plugin:1.2.6:schema-codegen (JiBX Generate Sources) @ sbbs ---
Generating Java sources in target/generated-sources from schemas available in src/main/config...
Loaded and validated 2 specified schema(s)
Generated 106 top-level classes (plus 21 inner classes) in package org.oma.protocols.mlp.svc_init
Generated 110 top-level classes (plu

[2016-08-12 12:01] angrygreenfrogs commented on #71
Note: In your output example there, I can only see the source generation output.. which that part always worked, it was the binding compilation that failed.

If your jibx config isn't actually doing the binding, the whole build will look like it works, but when you try a MLP request the XML processing will fail, so please make sure you test that XML processing is working to be sure.

Sure, it's in

[2016-08-12 12:08] jaimecasero commented on #71
[code]

<schemaBindingDirectory>target/generated-sources</schemaBindingDirectory>
                        <load>true</load>
                        <validate>true</validate>

                        <verify>true</verify>
                        </configuration>
                    </execution>

this conf seems to deliver..
--- jibx-maven-plugin:1.2.6:bind (JiBX Compile Bindings) @ sbbs ---
Running

[2016-08-12 17:29] #72 closed

[2016-08-16 13:55] deruelle commented on #71
@jaimecasero did you test the result as @angrygreenfrogs mentioned in his previous comment

[2016-08-16 13:57] deruelle commented on #71
@angrygreenfrogs can you try @jaimecasero patch to see if that works ?

[2016-08-16 17:27] angrygreenfrogs commented on #71
@deruelle No worries, I found a minute just now to give it a test.

@jaimecasero At a first try this isn't working - it's suffering from the issue I mentioned where the binding process isn't actually occurring even though it looks like it worked.

If you try to send a XML request to the system, the error log in jboss reports:

[code]

However, happily that's just a small thing:

You need to replac

[2016-08-16 18:58] FerUy commented on #71
Thanks @angrygreenfrogs , done as for: https://github.com/RestComm/gmlc/commit/d5fa821596b89d92250a0df1af0727e915397917

[2016-08-16 19:18] #71 closed

[2016-08-17 17:08] jaimecasero commented on #23
CI job to be completed

[2016-08-17 17:25] FerUy commented on #23
Most of the CI job skeleton is working. @jaimecasero is updating CI job image to include zip tool so PerfCorder may record collection properly.
Then @Feruy needs to work on launching GMLC and configuring, and later work on proper MAP stub to receive traffic on southbound interface.

[2016-08-18 14:18] jaimecasero opened #77 "Review logging level, and guarding/params"
https://github.com/RestComm/gmlc/blob/master/core/slee/services/sbbs/src/main/java/org/mobicents/gmlc/slee/MobileCoreNetworkInterfaceSbb.java#L443

As an example, the previous log should be debug, and guarded with level checking to prevent string format effort

[2016-08-18 14:19] jaimecasero commented on #77
https://github.com/RestComm/gmlc/blob/master/core/slee/services/sbbs/src/main/java/org/mobicents/gmlc/slee/MobileCoreNetworkInterfaceSbb.java#L634

another case

[2016-08-18 14:26] FerUy commented on #77
Noted, thanks @jaimecasero, will go through it today.

[2016-08-18 22:16] FerUy commented on #77
@jaimecasero, just to be in sync, as we are using javax.slee.facilities.Tracer for the class private attribute "logger", trace levels available are from highest to lowest:
- SEVERE (highest value)
- WARNING
- INFO
- CONFIG
- FINE
- FINER
- FINEST (lowest value)

So, I believe that for the two cases you pointed out here, you refer to FINEST. If that's the case, your proposed solution would be for e

[2016-08-18 23:02] jaimecasero commented on #77
those levels are borrowed form JDK logging https://docs.oracle.com/javase/7/docs/api/java/util/logging/Level.html

Usual usage is FINE==DEBUG, FINEST=TRACE.

For those examples I mentioned anything under CONFIG would be enough. You may use FINEST, since you are mostly tracing where the service logic started to work, not a computation of any actual logic.

The modification shows on your comment see

[2016-08-18 23:06] FerUy commented on #77
Great, thanks @jaimecasero for your kind feedback.
So, FINE will be fine ;)

[2016-08-19 10:41] jaimecasero commented on #23
@FerUy  Im handing over this to you. The script at https://bitbucket.org/telestax/telscale-commons/src/42f99f527e0cabdd101a2fedb21b7c63687c5556/jenkins-aws/Jenkins-Jobs/GMLC/GMLC-Performance-GetLoc_EC2.sh?at=master&fileviewer=file-view-default where the CI job commands are located. Now both Perfcorder, and jmeter are working against a preliminar GMLC process. Is your turn to properly set the proce

[2016-08-19 17:08] #77 closed

[2016-08-19 17:13] FerUy commented on #77
@jaimecasero I believe all important logging events are properly leveled and guarded whenever is due now. Please feel free to comment and reopen the issue if you feel something is missing or incorrectly set (and thanks again for the catch, notice and opening this one).

[2016-08-24 03:02] FerUy commented on #21
Work started in issue #52 as for commit 1032166

[2016-08-28 21:50] FerUy commented on #21
Closed as for commit 5e52dc8.

[2016-08-28 21:50] #21 closed

[2016-08-28 22:31] FerUy commented on #52
Latest commit also closes this issue as for milestone 1.0.0.

[2016-08-28 22:31] #52 closed

[2016-08-29 13:16] FerUy opened #78 "Upgrade GMLC to Netty"

[2016-08-31 23:52] FerUy commented on #23
Just for the record, adding client and server console outputs of a test. Responses are just like expected/coded.
[Server_console_20160831.txt](https://github.com/RestComm/gmlc/files/448500/Server_console_20160831.txt)
[Client_console_20160831.txt](https://github.com/RestComm/gmlc/files/448501/Client_console_20160831.txt)

[2016-09-01 03:31] loayking opened #79 "add requested service"
Hi @all, I think we need to add requested service parameter as follow
http://127.0.0.1:8080/restcomm/gmlc/rest?msisdn=87583439&requested=*888#
this will help later in CDR

[2016-09-01 09:00] jaimecasero commented on #23
great @FerUy  time to start that server from performance script and let the traffic complete into the server (we may need to change the JMeter test plan to prevent the fake isdn)

[2016-09-01 13:43] FerUy commented on #23
Noted, thanks @jaimecasero

[2016-09-03 10:45] loayking commented on #79
Hello @FerUy , please check the changes @ https://github.com/RestComm/gmlc/compare/master...loayking:Me?expand=1

I select URL parameter name serviceid instead of requested,
and i supposed the tag <serviceid> in MLP request is for the same .
if it is ok i will make pull request

[2016-09-03 15:15] FerUy commented on #79
Thanks @loayking, please proceed with the PR. It will be merged for milestone 2.0.0, after we complete issue #23 which will hopefully happen next Monday.

[2016-09-03 15:59] loayking commented on #79
done @FerUy

[2016-09-03 17:10] FerUy commented on #79
Thanks!

[2016-09-07 15:25] FerUy commented on #23
Regarding last commit, find attached console log when running client and server in the same run instance.
[ClientServer_console_log.txt](https://github.com/RestComm/gmlc/files/459564/ClientServer_console_log.txt)

[2016-09-12 16:04] jaimecasero opened #83 "onDialogTimeout is unconditionally sending http response"
https://github.com/RestComm/gmlc/blob/master/core/slee/services/sbbs/src/main/java/org/mobicents/gmlc/slee/MobileCoreNetworkInterfaceSbb.java#L228

this logic shoudl check if an httpr esponse was already sent!!!

[2016-09-12 16:06] #23 closed

[2016-09-12 16:11] jaimecasero commented on #83
potentially reuse http://docs.oracle.com/javaee/6/api/javax/servlet/ServletResponse.html#isCommitted()
so no new flag is required

[2016-09-12 16:47] jaimecasero opened #84 "Dialog is never released"
https://github.com/RestComm/gmlc/blob/master/core/slee/services/sbbs/src/main/java/org/mobicents/gmlc/slee/MobileCoreNetworkInterfaceSbb.java#L330

after receiveng map response we should close dialog, by invoking dialog.release.

This will prevent to receive the dialogtimeout event, and free resources much previouslly

[2016-09-13 03:37] FerUy commented on #84
@jaimecasero just added the dialog release. Let's see how it impacts the automated performance test before resolving #83.

[2016-09-13 09:51] jaimecasero opened #85 "Add repo to support jmxtools dependency"
I notice this library is manually downloaded and installed into local repo.

If we confirm is really required for this project, then i would add this repo to the list, so normal resolution is applied
`
<repository>

            <id>datanucleus</id>

            <name>DataNucleus Releases</name>

            <url>http://www.datanucleus.org/downloads/</url>

            <releases>

                <

[2016-09-13 14:31] FerUy commented on #84
Consistently with GMLC-Performance-GetLoc/78, this is closed

[2016-09-14 20:01] FerUy opened #86 "Tuning for automated performance test"

[2016-09-16 20:51] vetss commented on #84
@jaimecasero @FerUy

You do not need to add "close() / release()" staff to onAnyTimeInterrogationResponse() because a dialog is closed / released by a peer (a peer is sending TC-END message that just close / release this dialog)

The most probaly reason of "dialogtimeout event" - if you have too high message load then SCTP channel can not pass all load, then messages came to a peer with delays and

[2016-09-16 20:55] FerUy commented on #84
@vetss thanks!
You're right, working on it

[2016-09-16 23:38] FerUy commented on #84
Now MAP ATI is working as it expected (TC-BEG for request, TC-END for response) and dialog properly released. Local tests between posterior build 1.0.65 and MAP server stub are also OK as for the attached trace. MAP serverStub log looks fine in this regard as for http://ci.telestax.com/job/GMLC-Performance-GetLoc/85/artifact/results/serverStub.log (i.e. there are no more dialog timeouts, dialogs a

[2016-09-16 23:38] #84 closed

[2016-09-19 06:23] vetss commented on #83
@jaimecasero

I am trying to understand why "http response was already sent". DialogTimeout means that we have not received a resposne from SS7 network and therefore not generated any HTTP response. May it be that this response may be already generated by HTTP RA because of it's timeout for example ?

[2016-09-19 06:27] vetss commented on #85
@jaimecasero

jmxtools is needed for JSS7 project and the most probably is not needed for GMLC itself. We need to try to remove a referense of it from gmlc project.

This lib may not be present in any repo because of Oracle policy.

[2016-09-19 09:14] jaimecasero commented on #83
well we were chcecking tracing from SBB that showed DialogTimeout was creating the "additional" response. Anyway, it may be worth investigating the SS7 beahvior, so we may need to add traces to thsi ticket...

[2016-09-19 21:39] FerUy commented on #84
Just for the record, http://ci.telestax.com/job/GMLC-Performance-GetLoc/90/ confirms this issue was properly closed as for it concern.

[2016-09-20 13:42] FerUy commented on #85
Thanks @vetss for the feedback. Then, if I understood you properly, we don't need to add this repo in GMLC and may close this issue, right?

[2016-09-20 15:18] FerUy commented on #86
Closed as for results obtained in http://ci.telestax.com/job/GMLC-Performance-GetLoc/92/

[2016-09-27 18:30] vetss commented on #85
@FerUy I think we need to

1) care that no file refer to the lib (it may be because of GMLC refers to some SS7 libs that referes to the lib). We may be need to add some "exclude" etc
2) remove / do not add direct loading of the lib from CI task / referense to the repo
3) test CI task

[2016-09-27 23:22] FerUy opened #87 "CDR logging"
We need to add CDR logging for GMLC.

[2016-10-06 09:25] Vanit commented on #83
I have seen this happen before if jss7 is not configured. The 503 it throws does infact conflict with the resulting dialogtimeout, but I wouldn't call this a bug.

[2016-10-06 09:49] vetss commented on #83
JSS7 DialogTimout event comes in some delays like a minute. We may have DialogTimout events in case of SS7 stack is not properly configured (and therefore no response form a ss7 peer).
So may it be HTTP request is already timed out at the time of JSS7 DialogTimout event is coming ?

[2016-10-06 12:48] FerUy commented on #85
Thanks @vetss 👍
Will take care of this after finishing TelScale version job.

[2016-10-06 12:50] FerUy commented on #83
@Monix would you like to take care of this?

[2016-10-06 22:56] Vanit commented on #83
@FerUy I've been reassigned to other projects at work so I won't have time to help out, sorry! Was just passing through and saw something I could comment on. :)

[2016-10-06 23:36] FerUy commented on #83
No worries @Monix, thanks for your comment!

[2016-10-06 23:47] Vanit commented on #83
@FerUy No problem, of course :) It's been a while since I looked at the code, but when I was investigating this the conflicting 503's were thrown from pretty deep in the jss7 stack. I suspect the bug is better placed in that repo, where it should be firing an appropriate dialog response back up to the GMLC instead of directly outputting its own 503 http response.

[2016-10-12 07:21] deruelle opened #89 "Integrate restcomm Statistics"
For every GeoLocation request doen either through SS7 we should ping the Restcomm statistics server at the end of the day. The integration on the GMLC side happens through this project https://github.com/RestComm/commons/tree/master/statistics.

Ping me for more guidance

[2016-10-12 13:24] FerUy commented on #89
Thanks @deruelle. I will 👍

[2016-10-25 03:42] FerUy opened #90 "Enhance MLP requests/responses"

[2016-12-20 02:45] FerUy opened #91 "Embed MAP SRIforLCS, MAP PSL and MAP SLR (MAP LSM) in GMLC"
As explained in issue #1.
Enhanced diagram follows.
![gmlc-umts](https://cloud.githubusercontent.com/assets/14883482/21336543/ee7e4bae-c644-11e6-9ee0-b09591fc2f13.png)

[2016-12-20 03:05] FerUy commented on #2
Signal flow of LTE positioning with Restcomm GMLC follows.
jDiameter SLh and SLg and Jain-Slee.diameter pending review as for work done in https://github.com/RestComm/jdiameter/pull/48 and https://github.com/RestComm/jain-slee.diameter/issues/15 and https://github.com/RestComm/jain-slee.diameter/issues/16 (Wireshark traces from Junit tests with all AVPs populated also attached here -Wireshark's di

[2017-03-22 15:47] FerUy opened #92 "Make GMLC execution of MAP SRIforLCS, PSL and SLR configurable"
By putting a flag in a configuration file, MAP operations destined to retrieve real time location information from the RAN (through a Stand-Alone SMLC) will be executed after MAP ATI is performed. Through this way, MAP ATI will provide last known location information in terms of Global Cell Identification, while MAP SRIforLCS, MAP PSL and MAP SLR will eventually provide real-time and more accurate

[2017-03-22 15:55] #20 closed

[2017-03-24 16:11] FerUy opened #93 "Getting more done in GitHub with ZenHub"
Hola! @FerUy has created a [ZenHub](http://www.zenhub.com) account for the **RestComm** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnboardi

[2017-03-24 16:14] #93 closed

[2017-03-30 15:46] FerUy commented on #79
Closed by https://github.com/RestComm/gmlc/pull/81

[2017-03-30 15:46] #79 closed

[2017-03-30 15:49] #59 closed

[2017-04-20 07:38] FerUy opened #94 "Centralize configuration in gmlc.conf and auto-configure similar to Restcomm Connect"
To avoid users messing up with many different xml conf files on configuration, logging, etc. we should have a central gmlc.conf and a startup script to auto configure GMLC similar to how it's done in Restcomm-Connect.

[2017-05-10 15:10] vetss opened #95 "Update GMLC to jSS7 release 7.4"
We need to make follows:

1) add "appender name="CSVSTATS"" and "category name="org.mobicents.protocols.ss7.oam.common.statistics.CsvStatsPrinter"" into all jboss-log5j.xml templates
2) all jboss-beans.xml -
`<bean name="ShellExecutor" class="org.mobicents.ss7.management.console.ShellServer">` -> `<bean name="ShellExecutor" class="org.mobicents.ss7.management.console.ShellServerJboss">`
3) GUI - m

[2017-07-11 03:28] FerUy commented on #1
Solved with PR #96

[2017-07-11 03:28] #1 closed

[2017-10-30 14:25] zidanekeren opened #98 "gmlc over sctp issue"
hi guys.

first of all, i'm completely new with this.
so please help/guide me so i can solved this issue.

i'm in the middle of implementing new gmlc over sctp.
the sctp connection seems correct, because the status are up.
and im doing some testing using ati command,
by pcap i can see the result there, but at web app it doesnt show anything..

can you guys please share with me how to solve this is

[2017-10-31 04:35] zidanekeren commented on #98
updated.
i've misconfigured with address. now i can see result with ati command.
now i have another problem. i cant see the phone status.
do you guys have any idea where should i seek the problem is?

thanks.

[2017-10-31 05:23] FerUy commented on #98
Hi @zidanekeren,

The "problem" is that GMLC (Gateway Mobile **Location** Center) main concern is, well, location, so there's no code dedicated to provide status (*idle*, *camel_busy*, etc.), although MAP ATI retrieves it. It's not an error, but which has been thought should be part of GMLC scope thus far, i.e. only location of the mobile subscriber.

Again, this is not an issue, then please post

[2017-10-31 05:23] #98 closed

[2017-11-07 22:11] FerUy opened #99 "Add status information gathering from MAP ATI response"

[2017-11-22 09:39] ndziePatrickJoel opened #100 "Unable to perform a map ati request after setting up RestComm GMLC"
Hello,
I just finished installing RestComm GMLC, and i have followed the tutorial with the simulator but when i try to perform a this request on the default server i got this from the command line **WARN [SccpRoutingControl] (SLLEE-EventRouterExecutor-0-thread-1) Received SccpMessage for Translation but no matching Rule found for local routing,**
This is the url i am calling :
http://127.0.0.1:808

[2017-11-22 18:44] vetss commented on #100
Hello @ndziePatrickJoel

this error means that the most probably you have not properly configured SCCP stack settings, Start with reading of the manual part: http://documentation.telestax.com/core/ss7/SS7_Stack_User_Guide.html#_managing_sccp

[2017-11-23 12:16] FerUy commented on #100
Hi @ndziePatrickJoel, as @vetss commented, your problem is about jSS7 SCCP stack settings, and exactly that section of the manual should guide you to set it up properly so it works. It has nothing to do with a GMLC issue.

We use GitHub to report coding issues/bugs or missing features. Please use Gitter for this type of questions (either for [jSS7](https://gitter.im/RestComm/jss7) or [GMLC](https:

[2017-11-23 12:16] #100 closed

[2017-12-29 03:19] moehi commented on #91
Hi,

Any update ?

Already succes integration with ATI over STP
And need to request with SRI and PSL over STP

thanking in advance

[2017-12-29 03:39] moehi commented on #92
Hi,

Any Update ?

Already succes integration with ATI over STP
And need to request with SRI and PSL over STP

thanking in advance

[2017-12-29 04:45] FerUy commented on #91
Hi @moehi

MAP ATI is working more than a year ago as part of Restcomm GMLC 1.0.0. You may find a couple of tutorials for this [here](http://documentation.telestax.com/connect/tutorials/Restcomm%20-%20Geolocation%20API%20gathering%20location%20information%20from%20GSM%20networks.html) and especially [here](http://documentation.telestax.com/connect/tutorials/Restcomm%20-%20Create%20a%20simple%20eme

[2017-12-29 04:46] FerUy commented on #92
Hi @moehi, same answer as in [issue 91](https://github.com/RestComm/gmlc/issues/91).

[2018-01-02 15:02] ndziePatrickJoel opened #101 "Restcomm gmlc configuration issue no local SSN is present for primary Address"
I'm facing an issue while trying to configure restcomm gmlc on windows server 2008 R2. I Get the this message

https://i.stack.imgur.com/LGFpS.png

Here are my configurations

https://i.stack.imgur.com/czyjc.png

[code]

[2018-01-22 22:32] FerUy opened #102 "GMLC only processes fixed length of CGI or LAI from MAP ATI response"
Reported by iakhtyamov@gmail.com, tested on a live network, GMLC is not processing the case when the field MAP ATI response->subscriber info->location info->cellGlobalIdOrServiceAreaIdOrLAI would have value laiFixedLength (1).
By default GMLC only processes CellGlobalIdOrServiceAreaIdFixedLength(0), as for

[2018-01-23 00:45] FerUy commented on #102
Fixed with 3f4a584.

[2018-01-23 00:53] FerUy commented on #101
Hi ndziePatrickJoel,

See response in:

https://stackoverflow.com/questions/47799625/restcomm-gmlc-configuration-issue-no-local-ssn-is-present-for-primary-address

Please use Stack Overflow, https://gitter.im/RestComm/gmlc or https://groups.google.com/forum/#!forum/restcomm for this kind of questions. Do indeed use GitHub to report a bug or feature missing, etc.

Thanks

[2018-01-23 00:53] #101 closed

[2018-01-23 17:56] ndziePatrickJoel opened #103 "[M3UAManagementImpl] (SLEE-EventRouterExecutor-4-thread-1) Tx : No AS found for routing message TransferMessage: {528=Protocol opc=89 dpc=42 si=3 ni=2 sls=1}"
Hello Guy,
I have setup restcomm gmlc on Redhat, and the signal between the gmlc and the STP is up
But i kepp getting the error in title when i try this http request **http://172.21.75.34:8080/restcomm/gmlc/rest?msisdn=237699947943**

Here are my configuration files

**GmlcManagement_gmlcproperties.xml**

[code]

**Mtp3UserPart_m3ua1.xml**

[code]

**SccpStack_management2.xml**

[code]
**SccpStack

[2018-01-23 18:23] FerUy commented on #103
Hi ndziePatrickJoel,

Although there are some misconfigurations at a first glance (e.g. hlrssn value="8", should be 6), most likely the main issue is at **SccpStack_sccprouter2.xml**. This request of yours is very similar as the one here (check for the response given):
https://stackoverflow.com/questions/47799625/restcomm-gmlc-configuration-issue-no-local-ssn-is-present-for-primary-address

As tol

[2018-01-23 18:23] #103 closed

[2018-01-27 03:05] FerUy commented on #99
Fixed with 870d67f.

[2018-01-27 03:05] #99 closed

[2018-02-17 01:22] FerUy commented on #24
@vetss closing this issue as for the bugs found in Javolution 6+ this week.

[2018-02-17 01:22] #24 closed

[2018-02-17 01:27] FerUy opened #104 "WildFly 10.1.0 GMLC version"

[2018-02-21 11:01] adesr commented on #91
hi,
regarding to SRIforLCS request, any clue about its implementation using http GET/POST?

thanks

[2018-03-06 13:57] gsaslis commented on #91
@FerUy any further feedback on this one?

[2018-03-06 14:57] FerUy commented on #91
Hi @adesr & @gsaslis... thus far, this issue is being under development on private repository (we are close to finish it actually, among many other issues either private and public). We need to discuss if we should close this one with "won't fix" label or not internally.

[2018-03-07 22:48] FerUy commented on #87
Closed via commits 58ad698 and 8c6fdbe included in PR #106

[2018-03-07 22:49] FerUy commented on #95
Closed via commits 8dae872 and 8c6fdbe included in PR #106.

[2018-03-07 22:49] #95 closed

[2018-03-07 22:49] FerUy commented on #104
Closed via commit 58ad698 included in PR #106.

[2018-03-07 22:49] #104 closed

[2018-03-30 23:27] SaiPremaTech commented on #91
@FerUy, Do you know whether the implementation of this feature has been completed and available on public repo? We just cloned the latest GMLC server code base from master branch and performed a couple of tests with a HLR simulator. All that we see is support for ATI flow. No support for SRI for LCS and PSL call flow required for interfacing with UMTS MNO.

[2018-04-02 02:57] FerUy commented on #91
Hi @SaiPremaTech,

Either LSM MAP or SLh/SLg Diameter-based for PSL and SLR operations are in testing phase in commercial version of GMLC (for UMTS and LTE location services support). We have in the roadmap opening up also in public repository, but not for now (reason why this issue is and will remain open).

Hope it answers your queries about this.
Thanks and best regards

[2018-04-25 10:19] gsaslis commented on #91
@saiprematech  please drop me an email on yorgos.saslis -at- telestax.com  if you would like me to bring you in touch with someone from sales on this matter

[2019-03-07 13:41] JonDiDoe commented on #91
Hi @FerUy ,
Are LSM MAP, SLh/SLg Diameter-based for PSL and SLR are available in the public repo?

[2019-03-07 13:42] FerUy commented on #91
No.

[2019-03-07 15:52] #91 closed

[2019-03-07 15:53] FerUy commented on #2
Only available in commercial version.